A:link {
font-family: Verdana, Arial, Helvetica, sans-serif;
TEXT-DECORATION: none;
color: #990000; 
font-style: normal; 
font-weight: bold
}
A:visited {
font-family: Verdana, Arial, Helvetica, sans-serif;
TEXT-DECORATION: none;
color: #990000; 
font-style: normal; 
font-weight: bold
}
A:active {
font-family: Verdana, Arial, Helvetica, sans-serif;
TEXT-DECORATION: none;
font-style: italic;
color: #FF0000; 
font-weight: normal;
}
A:hover {
font-family:Verdana, Arial, Helvetica, sans-serif;
TEXT-DECORATION: none;
color: #feb440; 
font-style: normal; 
font-weight: bold;
}
BODY {
font-family: Verdana, Arial, Helvetica, sans-serif;
text-align: justify;
background-color: #fff1cf;
margin:20;
}
h1 {
font-family: Verdana, Arial, Helvetica, sans-serif;
font-size: x-large;
font-weight: bold;
color: #000000; 
font-style: normal; 
text-align: center; 
}
h2 {
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size: large;
font-weight: bold;
color: #000000; 
text-align: left; 
}
p {  
font-family: Verdana, Arial, Helvetica, sans-serif; 
font-size: medium; 
font-weight: normal; 
color: #000000; 
text-align: justify
}
.bandeau {  
font-size: x-small; 
background-color: #CCCCCC; 
text-align: center; 
vertical-align: middle; 
z-index: 0; 
margin:0;
; font-family: Verdana, Arial, Helvetica, sans-serif
}
table {  
font-family: Verdana, Arial, Helvetica, sans-serif; 
text-align: justify; 
vertical-align: top
}
table.bandeau {  
font-family: Verdana, Arial, Helvetica, sans-serif; 
text-align: center; 
font-size: small; 
background-color: #CCCCCC;
margin: 0; 
}

h3 {  
font-family: Verdana, Arial, Helvetica, sans-serif; 
font-size: medium; 
font-style: normal; 
font-weight: bold; 
text-align: left
; text-decoration: underline
}
.gris {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: medium; background-color: #E8E8E8; font-weight: bold}
.blanc_noir {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: medium; color: #000000; background-color: #FFFFFF}
