/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*
 ***********************************************
*/
.nettoyeur {
    clear:both;
    float:none;
}

body {
    font-family:sans-serif;
	background-color:#668F5D;
	background-image:url("../images/back-gris-transparent.png");
	background-repeat:repeat-x;
}

.entete {
	position:relative;
	width:958px;
	height:100px;
	margin:0 auto 0 auto;
	background-color:#fff;
	background-image:url(../images/filet-gris.png);
	background-repeat:repeat-x;
	background-position:335px 0px
}

.logo {
	position:absolute;
	top:10px;
}

.page {
	clear:both;
    width:958px;
	height:700px;
	margin:0 auto 0 auto;
	min-height:500px;
	background:#fff;
	background-repeat:repeat-x;
	background-image:url(../images/back-gris.jpg);
	font-size:14px;
}

#bloc-message {
	width:100%;
	text-align:center;
	font-size:14px;
	font-weight:bold;
	color:#FF0039
}

.acces {
	width:450px;
	margin:20px auto 0px auto;
	text-align:center;
	font-size:18px;
	font-weight:bold;
}

#pave_login_enseignant {
	display:none;
	clear:both;
	
	
}

#cadre_login {
/*	float:left;*/
	width:500px;
	height:360px;
	margin:50px auto 50px auto;
	text-align:center;
/*	border:1px solid #ddd;*/
}

#cadre_inscription {
	float:left;
	width:400px;
	margin:50px 10px 50px 10px;
	text-align:center;
}

#cadre_inscription form {
	border:1px solid #ddd;
}

#pave_login_eleve {
	clear:both;
	width:450px;
	margin:50px auto 50px auto;
	text-align:center;
}

#pave_login_enseignant label {
	display:block;
	margin:5px;
}

#pave_login_enseignant input {
	font-size:18px;
	padding:3px;
	border:1px solid #ddd;
	background-color:#eee
}

#pave_login_eleve label {
	display:block;
	margin:5px;
}

#pave_login_eleve input {
	font-size:18px;
	padding:3px;
	border:1px solid #ddd;
	background-color:#eee
}

.boutonSubmit {
	text-align:center;
}

.bouton {
	border:1px solid #ddd;
	background:#eee;
	padding:10px;
	font-size:14px;
	font-weight:bold;
	color:#fff;
	cursor:pointer;
}
#pave_login_enseignant .bouton {
	background:#FF5300;
}

#pave_login_enseignant .lien-renvoi-mdp {
	text-decoration:underline;
	cursor:pointer;
	font-size:12px;
}

#pave_login_eleve .bouton {
	background:#00B710;
}

#pave_login_enseignant .acces {
	color:#E64A00;
}

#pave_login_eleve .acces {
	color:#008F0C;
}

.entete .bouton.btnAccesEnseignant{
	position:absolute;
	height:38px;
	background:#FF5300;
	border:none;
	top:71px;
	left:730px;
	font-size:12px;
	padding:7px;
}

#pave_inscription{
	display:none;
	clear:both;
	width:450px;
	margin:50px auto 50px auto;
	text-align:center;
}

#cadre_inscription label{
	display:block;
	font-size:12px;
}

#cadre_inscription input{
	font-size:14px;
	width:60%
}

#cadre_inscription button{
	width:80px;
}

#cadre_confirmation {
	width:500px;
	margin:50px auto 50px auto;
	padding:20px;
	border:1px solid #dddd
}

.ui-dialog-titlebar {
	font-size:12px;
}

#modaleInscription {
	font-size:14px;
}

#modaleInscription div{
	margin:5px 5px 20px 5px
}

#modaleInscription .mail{
	font-weight:bold;
}

#modale-renvoi-mdp {
	display:none;
	font-size:12px;
}

#modale-renvoi-mdp label {
	display:block;
	margin:5px;
}

#modale-renvoi-mdp input {
	display:block;
	width:80%;
	margin:5px;
}

