.entete{
    display:none;
}

.page.bilan {
    border:none;
}

.page.bilan .col {
	display:none;
}

.page.bilan .panelClasseGroupeEleve {
	display:none;
}

.page.bilan .col.centre {
    display:block;
	width:100%;
}

.page.bilan .panelResultat {
    border:none;
}

.page.bilan .panelResultat button{
    display:none;
}

.page.bilan .panelResultat input {
    border:none;
    background:none;
}

.page.effectif {
    border:none;
}

.page.effectif .col {
	display:none;
}

.page.effectif .panelEditeurClasse {
	display:none;
}

.page.effectif .col.centre {
    display:block;
	width:100%;
}

.page.effectif .panelEditeurEleve {
    border:none;
}

.page.effectif .panelEditeurEleve .toolbar{
    display:none;
}

